﻿@model InputViewModel
@{
    Layout = null;
    ViewData["Title"] = "Inicio de sesión";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <!-- Bootstrap 5 -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!-- CSS3 -->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <!-- IntroJS -->
    <link rel="stylesheet" href="~/lib/intro.js/minified/introjs.min.css" />
    <link rel="stylesheet" href="~/lib/intro.js/themes/introjs-modern.min.css" />
    <!-- SweetAlertJS2 -->
    <link rel="stylesheet" href="~/lib/sweetalert2/dist/sweetalert2.min.css">
</head>
<body>
    <div class="page-header align-items-start min-vh-100" style="background-image: url('/images/fondo.png');">
        <span class="mask-gradient"></span>
        <div class="container my-auto">
            <div class="row">
                <div class="col-lg-4 col-md-8 col-12 mx-auto">
                    <div class="card border-0">
                        <div class="card-header text-white text-center" style="background-color: rgb(51, 51, 204)">
                            <h1>@ViewData["Title"]</h1>
                        </div>
                        <div class="card-body">
                            <section>
                                <form asp-action="Index" method="post">
                                    <h4>Use su código de cliente y su contraseña.</h4>
                                    <hr />
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="form-floating" data-intro="Ingrese el código de cliente en aquí." data-position="top-middle">
                                        <input asp-for="UserName" class="form-control" autocomplete="username" aria-required="true" />
                                        <label asp-for="UserName" class="form-label"></label>
                                        <span asp-validation-for="UserName" class="text-danger"></span>
                                    </div>
                                    <br/>
                                    <div class="form-floating" data-intro="Ingrese su contraseña aquí, si es su primer inicio de sesión ingrese nuevamente su código de cliente." data-position="top-middle">
                                        <input asp-for="Password" class="form-control" autocomplete="current-password" aria-required="true" />
                                        <label asp-for="Password" class="form-label"></label>
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                    <br/>
                                    <div data-intro="Finalmente pulse el boton para iniciar sesión." data-position="top-middle">
                                        <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary" style="background-color: rgb(51, 51, 204)">Iniciar sesión</button>
                                    </div>
                                </form>
                            </section>
                            <div class="text-center">
                                <a href="javascript:help()">¿Necesitas ayuda?</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Jquery -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- IntroJS -->
    <script src="~/lib/intro.js/minified/intro.min.js"></script>
    <!-- SweetAlertJS2 -->
    <script src="~/lib/sweetalert2/dist/sweetalert2.min.js"></script>
    <!-- JS -->
    <script src="~/js/site.js" asp-append-version="true"></script>
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
    @await Html.PartialAsync("_Alert")
</body>
</html>