﻿@inject SignInManager<UsuarioNet> SignInManager
@inject UserManager<UsuarioNet> UserManager
@if (@SignInManager.IsSignedIn(User))
{
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
        </li>
    @if (@User.IsInRole("Administrador"))
    {
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-controller="Administration" asp-action="Index">Usuarios</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-controller="Administration" asp-action="Roles">Roles</a>
        </li>
    }
    </ul>
}