﻿@inject SignInManager<UsuarioNet> SignInManager
@inject UserManager<UsuarioNet> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <button class="nav-link btn btn-link text-light"><i class="bi bi-person"></i> @User.Identity?.Name!</button>
    </li>
    <li class="nav-item">
        <button class="nav-link btn btn-link text-light" onclick="help()"><i class="bi bi-question-circle"></i> Ayuda</button>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="" asp-controller="Auth" asp-action="LogoutSession">
            <button type="submit" class="nav-link btn btn-link text-light"><i class="bi bi-box-arrow-left"></i> Salir</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <button class="nav-link btn btn-link text-light"><i class="bi bi-person"></i> Aun no inicio sesión</button>
    </li>
}
</ul>
