﻿@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">Ocurrió un error al procesar su solicitud.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Modo desarrollador</h3>
<p>
    Cambiar el modo de <strong>Desarrollo</strong> mostrara otra informacion sobre lo ocurrido.
</p>
<p>
    <strong>El entorno de desarrollo no debe estar habilitado para aplicaciones implementadas.</strong>
    Ya que puede resultar en la visualización de información confidencial de excepciones a los usuarios finales.
    Para el modo de depuracion local, habilite el modo de <strong>Desarrollo</strong> cambiando la variable de entorno <strong>ASPNETCORE_ENVIRONMENT</strong> a <strong>Development</strong>
    y reiniciando la aplicacion.
</p>
