﻿@model IdentityRole
@{
    ViewData["Title"] = "Crear nuevo rol";
}

<div class="row">
    <h1>@ViewData["Title"]</h1>
    <h4>Rol</h4>
    <hr />
    <div class="col-md-4">
        <form asp-action="CreateRole">
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Roles">Volver a roles</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
