﻿@model IEnumerable<UsuarioNet>
@{
    ViewData["Title"] = "Usuarios";
}

<div class="text-center">
    <h1 class="display-4">Lista de usuarios</h1>
    <p>
        <a class="btn btn-success" asp-action="Create"><i class="bi bi-plus-circle"></i> Crear un nuevo usuario</a>
    </p>
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th scope="col">@Html.DisplayNameFor(model => model.Id)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.UserName)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.CodigoEdificio)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
           {
               <tr>
                   <td>@Html.DisplayFor(modelItem => item.Id)</td>
                   <td>@Html.DisplayFor(modelItem => item.UserName)</td>
                   <td>@Html.DisplayFor(modelItem => item.CodigoEdificio)</td>
                   <td>
                       <div class="btn-group" role="group">
                           <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pen"></i> Editar</a>
                           <a class="btn btn-outline-primary" asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-eye"></i> Detalles</a>
                           <a class="btn btn-outline-primary" asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash"></i> Anular</a>
                       </div>
                   </td>
               </tr>
           }
        </tbody>
    </table>
</div>
