﻿@model IEnumerable<IdentityRole>
@{
    ViewData["Title"] = "Roles";
}

<div class="text-center">
    <h1 class="display-4">Roles de sistema</h1>
    <p>
        <a class="btn btn-primary" asp-action="CreateRole"><i class="bi bi-plus-circle"></i> Crear un nuevo rol</a>
    </p>
    <div style="padding: 20px;">
        <form asp-controller="Administration" asp-action="CambiarPassword" method="post">
            <input type="submit" value="Password" class="btn btn-primary" />
        </form>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead class="table-dark">
                <tr>
                    <th scope="col">@Html.DisplayNameFor(model => model.Id)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Name)</th>
                </tr>
                </thead>
                <tbody class="table-group-divider">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Id)</td>
                            <td>@Html.DisplayFor(modelItem => item.Name)</td>
                        </tr>
                    }
                </tbody>
        </table>
    </div>
</div>