﻿@model Cliente
@{
    ViewData["Title"] = "Anular";
}

<h1>Anular registro</h1>

<h3>¿Esta seguro de anular este registro?</h3>
<div>
    <dl class="row">
        @if (Model.IdTipoPersona == 1)
        {
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.PrimerApellido)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.PrimerApellido)
            </dd>
             <dt class = "col-sm-2">
                 @Html.DisplayNameFor(model => model.SegundoApellido)
             </dt>
             <dd class = "col-sm-10">
                 @Html.DisplayFor(model => model.SegundoApellido)
             </dd>
             <dt class = "col-sm-2">
                 @Html.DisplayNameFor(model => model.Nombres)
             </dt>
             <dd class = "col-sm-10">
                 @Html.DisplayFor(model => model.Nombres)
             </dd>
        }
        else
        {
             <dt class = "col-sm-2">
                 @Html.DisplayNameFor(model => model.RazonSocial)
             </dt>
             <dd class = "col-sm-10">
                 @Html.DisplayFor(model => model.RazonSocial)
             </dd>
        }
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroDocumento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroDocumento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CorreoElectronico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CorreoElectronico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Celular)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Celular)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdCliente" />
        <input type="submit" value="Delete" class="btn btn-danger" /> 
        <a class="btn btn-info" asp-action="Index" style="color: white">Retornar a inicio</a>
    </form>
</div>
