﻿@model Cliente
@{
    ViewData["Title"] = "Detalles";
}
<h1>Detalles</h1>

<div>
    <hr />
    <dl class="row">
        @if (Model.IdTipoPersona == 1)
        {
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.PrimerApellido)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.PrimerApellido)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.SegundoApellido)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.SegundoApellido)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Nombres)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Nombres)
            </dd>
        }
        else
        {
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.RazonSocial)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.RazonSocial)
            </dd>
        }
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroDocumento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroDocumento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CorreoElectronico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CorreoElectronico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Celular)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Celular)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-info" asp-action="Index" style="color: white">Retornar a inicio</a>
</div>
