﻿@model ClienteViewModel
@{
    string id = "0";
    string selectedN1 = "";
    string selectedN2 = "";
    string selectedJ1 = "";
    string selectedJ2 = "";
    if (Model == null || Model.PJuridica == null)
    {
        selectedN1 = "active";
        selectedN2 = "show active";
        if (this.ViewData["Action"]!.ToString() == "Edit")
        {
            id = this.ViewData["id"]!.ToString() ?? "0";
        }
    }
    if (Model != null && Model.PNatural == null)
    {
        selectedJ1 = "active";
        selectedJ2 = "show active";
        if (this.ViewData["Action"]!.ToString() == "Edit")
        {
            id = this.ViewData["id"]!.ToString() ?? "0";
        }
    }
}

<h1>@ViewData["Title"]</h1>

<h4>Datos para facturación electrónica</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <ul class="nav nav-pills mb-3 nav-justified" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link @selectedN1" id="pills-natural-tab" data-bs-toggle="pill" data-bs-target="#natural" type="button" role="tab" aria-selected="true">Persona Natural</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link @selectedJ1" id="pills-juridica-tab" data-bs-toggle="pill" data-bs-target="#juridica" type="button" role="tab" aria-selected="false">Persona Jurídica</button>
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade @selectedN2" id="natural" role="tabpanel" tabindex="0">
                <p data-intro="En este parrafo te damos a conocer la definicion de persona natural">@ViewData["DNatural"]</p>
                <form asp-action="@ViewData["Action"]" asp-controller="Home" method="post">
                    <input type="hidden" asp-for="PNatural!.IdPersona" value="@id"/>
                    <div class="form-floating" data-intro="Introduza su apellido paterno">
                        @Html.TextBoxFor(m => m.PNatural!.PrimerApellido, new { @class = "form-control" })
                        @Html.LabelFor(m => m.PNatural!.PrimerApellido, new { @class = "control-label" })
                        @Html.ValidationMessageFor(m => m.PNatural!.PrimerApellido, "", new { @class = "text-danger" })
                    </div>
                    <br/>
                    <div class="form-floating" data-intro="Introduza su apellido materno">
                        @Html.TextBoxFor(m => m.PNatural!.SegundoApellido, new { @class = "form-control" })
                        @Html.LabelFor(m => m.PNatural!.SegundoApellido, new { @class = "control-label" })
                        @Html.ValidationMessageFor(m => m.PNatural!.SegundoApellido, "", new { @class = "text-danger" })
                    </div>
                    <br/>
                    <div class="form-floating" data-intro="Introduza sus nombres">
                        @Html.TextBoxFor(m => m.PNatural!.Nombres, new { @class = "form-control" })
                        @Html.LabelFor(m => m.PNatural!.Nombres, new { @class = "control-label" })
                        @Html.ValidationMessageFor(m => m.PNatural!.Nombres, "", new { @class = "text-danger" })
                    </div>
                    <br/>
                    <div class="form-floating" data-intro="Seleccione el tipo de documento de identidad">
                        @Html.DropDownListFor(m => m.PNatural!.IdDocumentoIdentidad, (IEnumerable<SelectListItem>)ViewBag.DocumentoIdentidadN, new { @class = "form-control" })
                        @Html.LabelFor(m => m.PNatural!.IdDocumentoIdentidad, new { @class = "control-label" })
                    </div>
                    <br/>
                    <div class="form-floating" data-intro="Introduzca el numero de su documento de identidad de forma alfanumerica (No se aceptan espacioes o los siguientes caracteres: '-', '.', '#', '>', '<')">
                        @Html.TextBoxFor(m => m.PNatural!.NumeroDocumento, new{ @class = "form-control"})
                        @Html.LabelFor(m => m.PNatural!.NumeroDocumento, new { @class = "control-label" })
                        @Html.ValidationMessageFor(m => m.PNatural!.NumeroDocumento, "", new { @class = "text-danger" })
                    </div>
                    <br/>
                    <div class="form-floating" data-intro="Introduzca su correo electronico">
                        @Html.TextBoxFor(m => m.PNatural!.CorreoElectronico, new{ @class = "form-control"})
                        @Html.LabelFor(m => m.PNatural!.CorreoElectronico, new { @class = "control-label" })
                        @Html.ValidationMessageFor(m => m.PNatural!.CorreoElectronico, "", new { @class = "text-danger" })
                    </div>
                    <br/>
                    <div class="form-floating" data-intro="Introduzca su numero de celular (Solo numeros)">
                        @Html.EditorFor(m => m.PNatural!.Celular, new { htmlAttributes = new { @class="form-control"} })    
                        @Html.LabelFor(m => m.PNatural!.Celular, new { @class = "control-label" })
                        @Html.ValidationMessageFor(m => m.PNatural!.Celular, "", new { @class = "text-danger" })
                    </div>
                    <br />
                    <div class="form-group">
                        <input type="submit" value="@ViewData["Btn"]" class="btn btn-primary" data-intro="Cuando termine de ingresar sus datos, pulse en el boton."/>
                        <a class="btn btn-info" asp-action="Index" style="color: white" data-intro="Pulse aqui para ir a la pagina principal">Retornar a inicio</a>
                    </div>
                </form>
            </div>
            <div class="tab-pane fade @selectedJ2" id="juridica" role="tabpanel" tabindex="0">
                <p data-intro="En este parrafo te damos a conocer la definicion de persona juridica">@ViewData["DJuridica"]</p>
                <form asp-action="@ViewData["Action"]" asp-controller="Home" method="post">
                    <input type="hidden" asp-for="PJuridica!.IdPersona" value="@id" />
                    <div class="form-floating" data-intro="Introduza su razon social">
                        @Html.TextBoxFor(m => m.PJuridica!.RazonSocial, new { @class = "form-control" })
                        @Html.LabelFor(m => m.PJuridica!.RazonSocial, new { @class = "control-label" })
                        @Html.ValidationMessageFor(m => m.PJuridica!.RazonSocial, "", new { @class = "text-danger" })
                    </div>
                    <br/>
                    <div class="form-floating" data-intro="Introduza su NIT (solo valores numerico)">
                        @Html.TextBoxFor(m => m.PJuridica!.NumeroDocumento, new { @class = "form-control" })
                        @Html.LabelFor(m => m.PJuridica!.NumeroDocumento, new { @class = "control-label" })
                        @Html.ValidationMessageFor(m => m.PJuridica!.NumeroDocumento, "", new { @class = "text-danger" })
                    </div>
                    <br/>
                    <div class="form-floating" data-intro="Por defecto, el documento ya esta seleccionado en NIT">
                        @Html.DropDownListFor(m => m.PJuridica!.IdDocumentoIdentidad, (IEnumerable<SelectListItem>)ViewBag.DocumentoIdentidadJ, new { @class = "form-control" })
                        @Html.LabelFor(m => m.PJuridica!.IdDocumentoIdentidad, new { @class = "control-label" })
                    </div>
                    <br/>
                    <div class="form-floating" data-intro="Introduzca su correo electronico">
                        @Html.TextBoxFor(m => m.PJuridica!.CorreoElectronico, new { @class = "form-control" })
                        @Html.LabelFor(m => m.PJuridica!.CorreoElectronico, new { @class = "control-label" })
                        @Html.ValidationMessageFor(m => m.PJuridica!.CorreoElectronico, "", new { @class = "text-danger" })
                    </div>
                    <br/>
                    <div class="form-floating" data-intro="Introduzca su numero de celular. (Solo numeros)">
                        @Html.EditorFor(m => m.PJuridica!.Celular, new { htmlAttributes = new { @class="form-control"} })
                        @Html.LabelFor(m => m.PJuridica!.Celular, new { @class = "control-label" })
                        @Html.ValidationMessageFor(m => m.PJuridica!.Celular, "", new { @class = "text-danger" })
                    </div>
                    <br />
                    <div class="form-group">
                        <input type="submit" value="@ViewData["Btn"]" class="btn btn-primary" data-intro="Cuando termine de ingresar sus datos, pulse en el boton."/>
                        <a class="btn btn-info" asp-action="Index" style="color: white" data-intro="Pulse aqui para ir a la pagina principal">Retornar a inicio</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>