﻿@model IEnumerable<Cliente>
@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>
        <a class="btn btn-success" asp-action="Create" data-intro="Pulse el boton para realizar un nuevo registro de nuevo titular de factura." data-step="1"><i class="bi bi-plus-circle"></i> Registrar nuevo titular de factura</a>
    </p>
    <div class="table-responsive">
        <table class="table table-bordered table-striped" data-intro="Aqui puede ver sus registros de titulares de factura." data-position="top-middle" data-step="2">
            <thead class="table-dark">
                <tr>
                    <th scope="col">@Html.DisplayNameFor(model => model.CorreoElectronico)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Celular)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.NumeroDocumento)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.RazonSocial)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                   <tr>
                       <td>@Html.DisplayFor(modelItem => item.CorreoElectronico)</td>
                       <td>@Html.DisplayFor(modelItem => item.Celular)</td>
                       <td>@Html.DisplayFor(modelItem => item.NumeroDocumento)</td>
                   @if (item.IdTipoPersona == 1)
                   {                            
                       <td>@Html.DisplayFor(modelItem => item.PrimerApellido) @Html.DisplayFor(modelItem => item.SegundoApellido) @Html.DisplayFor(modelItem => item.Nombres)</td>
                   }
                   else
                   {
                       <td>@Html.DisplayFor(modelItem => item.RazonSocial)</td>
                   }
                       <td>
                   @switch (item.IdComportamiento)
                   {
                       case 1:
                            <div class="btn-group" role="group">
                                <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@item.IdCliente"><i class="bi bi-pen"></i> Editar</a>
                                <a class="btn btn-outline-primary" asp-action="Details" asp-route-id="@item.IdCliente"><i class="bi bi-eye"></i> Detalles</a>
                                <a class="btn btn-outline-primary" asp-action="Delete" asp-route-id="@item.IdCliente"><i class="bi bi-trash"></i> Anular</a>
                            </div>
                            break;
                       case 2:
                            <div class="btn-group" role="group">
                                <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@item.IdCliente"><i class="bi bi-pen"></i> Editar</a>
                                <a class="btn btn-outline-primary" asp-action="Details" asp-route-id="@item.IdCliente"><i class="bi bi-eye"></i> Detalles</a>
                            </div>
                            break;
                       case 3:
                            <div class="btn-group" role="group">
                                <a class="btn btn-outline-primary" asp-action="Details" asp-route-id="@item.IdCliente"><i class="bi bi-eye"></i> Detalles</a>
                                <a class="btn btn-outline-primary" asp-action="Delete" asp-route-id="@item.IdCliente"><i class="bi bi-trash"></i> Anular</a>
                            </div>
                            break;
                       default:
                            <a class="btn btn-outline-primary" asp-action="Details" asp-route-id="@item.IdCliente"><i class="bi bi-eye"></i> Detalles</a>
                            break;
                   }
                        </td>
                   </tr>
                }
            </tbody>
        </table>
    </div>
</div>
