html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

.main-body {
  margin-bottom: 60px;
}
/*
    Solo para el login
*/
.page-header {
    padding: 0;
    position: relative;
    overflow: hidden;
    display: flex;
    /*align-items: center;*/
    /*align-items: flex-start !important;*/
    background-size: cover;
    background-position: 50%;
    min-height: 100vh !important;
    margin-top: auto !important;
    margin-bottom: auto !important;
}